@import url("./reset.css");
@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap");
:root {
  --main-colour: #451f55;
  --secondary-colour: #feffff;
  --missing: #dd0000;
}
body {
  font-size: 1.2em;
  background: var(--secondary-colour);
  width: 100vw;
}
h2 {
  font-size: 1.3em;
  font-weight: 700;
  margin-bottom: 1.1em;
}
h4 {
  font-size: 1.1em;
  font-weight: 500;
}
a {
  color: #000000;
  text-decoration: none;
}
input {
  font-size: 0.9em;
}
.DisplayNew,
.DisplayShow,
.DisplayIndex,
.DisplayEdit,
.ColourIndex,
.ColourNew {
  padding: 1em 1.5em;
  max-width: 1200px;
  margin: auto;
}
.hidden {
  display: none;
}
.toCapital {
  text-transform: capitalize;
}
/* TYPICAL BUTTON STYLES */
.btn {
  padding: 0.25em 0.5em;
  margin: 0.25em;
  border-radius: 0.5em;
  width: 75px;
  height: 30px;
  border: 1px solid var(--main-colour);
}
.btn_save {
  background: var(--main-colour);
  color: var(--secondary-colour);
  text-transform: capitalize;
}
.btn_cancel {
  color: var(--main-colour);
  background: var(--secondary-colour);
  text-transform: capitalize;
}

/* NAV BAR STYLES */
.NavBar {
  color: var(--secondary-colour);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.nav-header {
  background: var(--main-colour);
  padding: 0.5em 1em;
  font-family: "Merienda", cursive;
  font-size: 1.5em;
}
.nav-div {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  border-bottom: 2px solid var(--main-colour);
  padding: 0.5em 1em;
}
.nav-item {
  width: 200px;
  text-align: center;
  text-transform: capitalize;
}
.nav-item:hover {
  color: var(--main-colour);
  font-weight: 600;
  background: transparent;
}

/* DISPLAY STYLES */
.display-list {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  padding: 0.25em;
}
.display-item {
  margin: 0 0.25em;
}
.list-div {
  margin-bottom: 1em;
  margin-top: 0.5em;
}
.form {
  display: grid;
  grid-template-columns: 150px 50px 175px auto;
  grid-row-gap: 0.25em;
}
.form_ipadress {
  display: grid;
  grid-template-columns: 50px auto 50px auto 50px auto 50px;
}
.column_1 {
  grid-column: 1/2;
}
.column_2 {
  grid-column: 2/3;
}
.column_2_3 {
  grid-column: 2/4;
}
.column_3 {
  grid-column: 3/4;
}
.row5 {
  grid-row: 4/5;
}
.missing_field {
  border: 2px solid var(--missing);
}
.message-text {
  color: var(--missing);
}
.confirm-delete-div {
  width: 400px;
  border: 1px solid var(--main-colour);
  background: var(--secondary-colour);
  padding: 1em;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 150px;
}
.confirm-btn {
  display: flex;
  justify-content: flex-end;
  padding-top: 1em;
}

/* COLOUR */
.ColourForm {
  display: grid;
  grid-template-columns: 90px 200px auto 160px;
  max-width: 1100px;
  margin: auto;
}
.colour-header {
  grid-column: 1/4;
  text-align: center;
  font-size: 1.4em;
  font-weight: 700;
  margin-bottom: 1em;
}
.colour-label {
  margin-bottom: 0.25em;
}
.colour-btn-div {
  grid-column: 3/5;
  display: flex;
  justify-content: flex-end;
  margin-top: 1em;
}
.colour-swatch {
  border: 1px solid black;
  width: 150px;
  height: 104px;
  grid-column: 4/5;
  grid-row: 2/5;
  margin-left: .5em;
  margin-top: .25em;
}
.colour-index{
  display: flex;
  /* justify-content: space-evenly; */
  flex-wrap: wrap;
  
}
.swatch{
  background: 1px solid black;
  width: 50px;
  height: 50px;
  margin: 2em 2em .25em;
}
.swatch-label{
  text-align: center;
}
/* SLIDER */
.slider-div {
  display: grid;
  grid-template-columns: 90px auto 60px;
  margin: 0.25em 0;
  grid-column: 1/4;
}
.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 98%;
  height: 25px;
  outline: none;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 5px;
  height: 25px;
  background: black;
  border: 1px solid white;
  cursor: pointer;
}
.hue {
  background: linear-gradient(
    to right,
    hsl(0, 100%, 50%),
    hsl(30, 100%, 50%),
    hsl(60, 100%, 50%),
    hsl(90, 100%, 50%),
    hsl(120, 100%, 50%),
    hsl(150, 100%, 50%),
    hsl(180, 100%, 50%),
    hsl(210, 100%, 50%),
    hsl(240, 100%, 50%),
    hsl(270, 100%, 50%),
    hsl(300, 100%, 50%),
    hsl(330, 100%, 50%),
    hsl(360, 100%, 50%)
  );
}
