@import url("./reset.css");
@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap");
:root {
  --main-colour: #451f55;
  --fade-main-colour: #451f5527;
  --secondary-colour: #feffff;
  --background: #f6f2fa91;
  --missing: #dd0000;
}
body {
  font-size: 1.2em;
  background: var(--background);
  width: 100vw;
}
h4 {
  font-size: 1.1em;
  font-weight: 500;
}
a {
  color: #000000;
  text-decoration: none;
}
input {
  font-size: 0.9em;
}
.DisplayNew,
.DisplayShow,
.DisplayIndex,
.DisplayEdit,
.ColourIndex,
.ColourNew,
.ColourEdit,
.ShowIndex,
.ShowNew {
  padding: 1em 1.5em;
  max-width: 1200px;
  margin: auto;
}
.hidden {
  display: none;
}
.toCapital {
  text-transform: capitalize;
}
.main-header {
  font-weight: 900;
  font-size: 1.6em;
  text-align: center;
}
/* TYPICAL BUTTON STYLES */
.btn {
  padding: 0.25em 0.5em;
  margin: 0.25em;
  border-radius: 0.5em;
  width: 75px;
  height: 30px;
  border: 1px solid var(--main-colour);
  font-size: 0.85em;
}
.btn_big {
  padding: 0.25em 0.5em;
  margin: 0.25em;
  border-radius: 0.5em;
  width: 100px;
  height: 30px;
  border: 1px solid var(--main-colour);
  font-size: 0.85em;
}
.btn_x_big{
  width: 150px;
}
.btn_save {
  background: var(--main-colour);
  color: var(--secondary-colour);
  text-transform: capitalize;
}
.btn_cancel {
  color: var(--main-colour);
  background: var(--secondary-colour);
  text-transform: capitalize;
}
.btn-div {
  grid-column: 3/5;
  display: flex;
  justify-content: flex-end;
  margin-top: 0.5em;
}
.btn-search {
  width: 100px;
  color: var(--main-colour);
  background: var(--secondary-colour);
  text-transform: capitalize;
  align-self: flex-end;
}


.btn-search:hover {
  background: var(--fade-main-colour);
}
/* CARD */
.card-index {
  background: var(--secondary-colour);
  box-shadow: 0px 0px 5px var(--main-colour);
  border-radius: 0.5em;
  width: 700px;
  padding: 0.75em 0.75em;
  margin: 0.5em auto 3em;
}
.card-colour {
  background: var(--secondary-colour);
  box-shadow: 0px 0px 5px var(--main-colour);
  border-radius: 0.5em;
  max-width: 1000px;
  padding: 0.75em 0.75em;
  margin: 0.5em auto 3em;
}
.card-show {
  background: var(--secondary-colour);
  box-shadow: 0px 0px 5px var(--main-colour);
  border-radius: 0.5em;
  max-width: 700px;
  padding: 0.75em 0.75em;
  margin: 0.5em auto 3em;
}
.card-pattern {
  display: grid;
  grid-template-columns: 125px 50px 100px auto;
  gap: 0.25em;
}
.card-random {
  display: grid;
  grid-template-columns: 125px 60px 60px 50px 60px auto;
  gap: 0.25em;
}
.card {
  display: grid;
  grid-template-columns: 125px 100px 75px auto;
  gap: 0.5em;
  background: var(--secondary-colour);
  box-shadow: 0px 0px 5px var(--main-colour);
  border-radius: 0.5em;
  width: 700px;
  padding: 0.75em 0.75em;
  margin: 0.5em auto;
}
.card-header {
  text-align: center;
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 1em;
  grid-column: 1/5;
  text-transform: capitalize;
}
.header-secondary {
  text-align: center;
  font-size: 1.2em;
  font-weight: 600;
  margin: 1em auto 0.5em;
}
.card-div {
  display: flex;
  justify-content: space-between;
}
.card-label {
  font-weight: 600;
  text-transform: capitalize;
}

/* Grid column and rows */
.column_1 {
  grid-column: 1/2;
}
.column_2 {
  grid-column: 2/3;
}
.column_3 {
  grid-column: 3/4;
}
.column_4 {
  grid-column: 4/5;
}
.column_6 {
  grid-column: 5/6;
}
.column_7 {
  grid-column: 6/7;
}
.column_2_3 {
  grid-column: 2/4;
}
.column_2_4 {
  grid-column: 2/4;
}
.column_3_4{
  grid-column: 3/5;
}
.column_2_5 {
  grid-column: 2/5;
}
.column_1_5 {
  grid-column: 1/5;
}
.column_1_4 {
  grid-column: 1/4;
}
.column_1_7 {
  grid-column: 1/7;
}
.row5 {
  grid-row: 4/5;
}

/* NAV BAR STYLES */
.NavBar {
  color: var(--secondary-colour);

  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
}
.nav-header {
  background: var(--main-colour);
  padding: 0.5em 1em;
  font-family: "Merienda", cursive;
  font-size: 1.5em;
}
.nav-div {
  display: flex;
  justify-content: flex-end;
  background: var(--secondary-colour);

  border-bottom: 2px solid var(--main-colour);
  padding: 0em 0.5em;
}
.nav-item {
  padding: 0.5em 0em;
  width: 150px;
  text-align: center;
  text-transform: capitalize;
}
.nav-item:hover {
  color: var(--main-colour);
  font-weight: 600;
  background: transparent;
}
.nav-secondary {
  display: flex;
  justify-content: flex-end;
  border-bottom: 2px solid var(--main-colour);
  padding: 0em 0.5em;
}
/* DISPLAY STYLES */

.display-list {
  display: grid;
  grid-template-columns: 200px 200px 125px 150px;
  padding: 0.25em;
}
.display-message {
  text-align: center;
  margin-top: 0.5em;
  font-size: 1.2em;
}
.table-header {
  font-size: 1.1em;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 0.5em;
}
.display-item {
  margin: 0 0.25em;
}
.list-div {
  margin-bottom: 1em;
  margin-top: 0.5em;
}
.form {
  display: grid;
  grid-template-columns: 150px 50px 175px auto;
  row-gap: 0.25em;
}
.form_ipadress {
  display: grid;
  grid-template-columns: 55px auto 55px auto 55px auto 55px;
}
.missing_field {
  border: 2px solid var(--missing);
}
.message-text {
  color: var(--missing);
}
.confirm-delete-div {
  width: 400px;
  border: 1px solid var(--main-colour);
  background: var(--secondary-colour);
  padding: 1em;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 150px;
}
.confirm-btn {
  display: flex;
  justify-content: flex-end;
  padding-top: 1em;
}

/* COLOUR */
.ColourForm {
  display: grid;
  grid-template-columns: 90px 200px auto 160px 160px;
  max-width: 1100px;
  margin: auto;
}
.colour-label {
  margin-bottom: 0.25em;
}
.colour-btn-div {
  grid-column: 3/6;
  display: flex;
  justify-content: flex-end;
  margin-top: 1em;
}
.colour-swatch {
  border: 1px solid black;
  width: 150px;
  height: 104px;
  grid-column: 5/6;
  grid-row: 2/5;
  margin-left: 0.5em;
  margin-top: 0.25em;
}
.colour-index {
  display: flex;
  flex-wrap: wrap;
}
.swatch {
  border: 1px solid black;
  width: 50px;
  height: 50px;
  margin: 2em 2em 0.25em;
}
.swatch-label {
  text-align: center;
}
.swatch-rec {
  border: 1px solid black;
  height: 40px;
  width: 125px;
  margin: 0.25em;
  text-align: center;
  color: var(--secondary-colour);
}
.swatch-square {
  border: 1px solid black;
  height: 25px;
  width: 25px;
  margin: 0.25em;
}
.colours-selected-div {
  display: flex;
  flex-wrap: wrap;
  max-width: 95%;
  min-height: 5vh;
  margin-bottom: .25em;
}
.colour-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 55vh;
  overflow-y: scroll;
  border-top: 1px solid var(--main-colour);

}

/* SLIDER */
.slider-div {
  display: grid;
  grid-template-columns: 90px auto 60px;
  margin: 0.25em 0;
  grid-column: 1/5;
}
.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 98%;
  height: 25px;
  outline: none;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 5px;
  height: 25px;
  background: black;
  border: 1px solid white;
  cursor: pointer;
}
.hue {
  background: linear-gradient(
    to right,
    hsl(0, 100%, 50%),
    hsl(30, 100%, 50%),
    hsl(60, 100%, 50%),
    hsl(90, 100%, 50%),
    hsl(120, 100%, 50%),
    hsl(150, 100%, 50%),
    hsl(180, 100%, 50%),
    hsl(210, 100%, 50%),
    hsl(240, 100%, 50%),
    hsl(270, 100%, 50%),
    hsl(300, 100%, 50%),
    hsl(330, 100%, 50%),
    hsl(360, 100%, 50%)
  );
}

/* SHOWS */

.ShowList,
.ColourList {
  border: 1px solid var(--main-colour);
  border-radius: 0.5em;
  background: var(--secondary-colour);
  padding: 0.25em 0.5em;
  position: fixed;
  top: 20vh;
  right: 0;
  left: 0;
  margin: auto;
  width: 500px;
}
.show-list {
  display: grid;
  grid-template-columns: 200px 100px auto;
}
.selected {
  background: var(--main-colour);
  color: var(--secondary-colour);
  padding: 0.15em;
  margin: 0.15em 0;
}
.non-selected {
  padding: 0.15em;
  margin: 0.15em 0;
}

.show-btn-div {
  display: flex;
  justify-content: flex-end;
  margin-top: 1em;
}
.show-cue-div {
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.random_checkbox {
  margin-left: 25px;
}
/* CUE SHOW */

.led-cue-div {
  display: flex;
  flex-wrap: wrap;
}
.led-div {
  width: 110px;
  border: 1px solid black;
  color: #451f55;
  margin: 0.25em;
  padding: 0.25em;
}
.led-number {
  width: 40px;
}
.led-header {
  text-align: center;
  font-size: 1.1em;
}
.swatch-led {
  border: 1px solid black;
  height: 30px;
  width: 75px;
  margin: 0.25em auto;
}
.cue-colour-list {
  box-shadow: 0px 0px 5px var(--main-colour);
  border-radius: 0.5em;
  background: var(--secondary-colour);
  padding: 0.25em 0.5em;
  position: fixed;
  top: 20vh;
  right: 0;
  left: 0;
  margin: auto;
  width: 500px;
}
.cue-swatch-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 95%;
  justify-content: space-between;
   max-height: 55vh;
  overflow-y: scroll;
}

.led-div-button {
  display: flex;
}
.colour-name{
  font-weight: 700;
  text-align: center;
  margin-bottom: .5em;
}
.colour-no-name{
  /* font-weight: 700; */
  text-align: center;
  margin-bottom: .5em;
}
